html {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	max-width: 1366px;
}

.wrapper .navigation {
	max-width: 1366px;
}

.panel, .no-hiding-panel, .panel-splash-background {
	position: absolute;
	top: 50px;	right: 0; bottom: 0; left: 0;
	background-color: #eee;
	background-image: url('../img/splash-image.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
	animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}

.panel.authenticate-panel {
	top: 0;
}

.panel-splash-background {
	animation: none;
	background-image: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.auth-btn {
	position: absolute;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	padding: 0 24px;
	color: #fff;
	margin: 0 16px;
	text-align: center;
	width: calc(100% - 80px);
	left: 0;
	right: 0;
}

.facebook-btn {
	background-color: #4267b2;
	bottom: 72px;
}

.google-btn {
	background-color: #db4437;
	bottom: 16px;
}

.capture-container {
	width: 100%;
	background: #000;
	height: calc(100vh - 100px);
}

.capture-container .capture-button {
	position: absolute;
	top: 0; left: 0; right: 0;
	cursor: pointer;
	width: 120px;
	color: #fff;
	text-align: center;
    margin: 0 auto;
	padding-top: 80px;
	line-height: 35px;
}

.capture-container .capture-button img {
	width: 40px;
	height: 40px;
}

.capture-container #capture-stream,
.capture-container #capture-image {
	width: 100%;
	max-height: calc(100vh - 100px);
	max-width: 100%;
	object-fit: contain;
}

.footer {
	position: fixed;
	background-color: #fff;
	width: 100%;
	bottom: 0;
}

.footer .nav-item {
	float: left;
	text-align: center;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: center;
	cursor: pointer;
	line-height: 50px;
}

.footer.footer-navigation { padding: 0 8%; max-width: calc(1366px - 16%); }
.footer.footer-photo { padding: 0; max-width: 1366px; }
.footer.footer-navigation .nav-item { width: 33%; }
.footer.footer-photo .nav-item { width: 50%; }

.footer .nav-item.search { background-image: url('../img/search.png'); }
.footer .nav-item.upload { background-image: url('../img/upload.png'); }
.footer .nav-item.account { background-image: url('../img/user.png'); }

.footer .nav-item.library.active, 
.footer .nav-item.photo.active { 
	border-bottom: 4px solid #000;
}

.header {
	position: relative;
    background: #efefef;
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: #fff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    border-bottom: solid 1px #efefef;
}

.header .user-details {
	float: right;
	color: #000;
	padding-right: 60px;
}

.header .user-details .profile-picture {
	position: absolute;
	right: 10px;
	top: 5px;
	height: 40px;
	border-radius: 50%;
}

.header .back-button {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-image: url('../img/angle-left.svg');
	background-repeat: no-repeat;
	background-size: 40px;
	margin: 5px 0;
}

#map {
	background-color: #ddd;
	width: 100%;
	height: calc(100vh - 100px);
}

h1 {
    font-size: 18px;
    padding: 20 0 0 0;
    margin: 0px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}