<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nl.custompixels.test"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Mijn test applicatie</name>
 
    <description>
        Een test applicatie
    </description>
 
    <author href="https://custompixels.nl" email="henk@custompixels.nl">
        CustomPixels
    </author>
	
	<preference name="windows-identity-name" value="CustomPixels" />
	<preference name="phonegap-version" value="cli-8.0.0" />
	
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	
	<plugin name="cordova-plugin-googlemaps">
		<variable name="API_KEY_FOR_ANDROID" value="(api key)" />
		<variable name="API_KEY_FOR_IOS" value="(api key)" />
	</plugin>
  
</widget>