<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.lovetag42.app"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>Lovetag42</name>
 
    <description>
        Find the best places to meet
    </description>
 
    <author href="https://custompixels.nl" email="henk@custompixels.nl">
        CustomPixels
    </author>
	
	<access origin="*" />
	
	<preference name="windows-identity-name" value="CustomPixels" />
	<preference name="phonegap-version" value="cli-8.0.0" />
	<preference name="android-minSdkVersion" value="19" />
	
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
	
	<plugin name="cordova-plugin-device"></plugin>
	<plugin name="cordova-plugin-googleplus"></plugin>
	<plugin name="cordova-plugin-inappbrowser"></plugin>
	<plugin name="cordova-plugin-whitelist" version="1" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />

	<plugin name="cordova-plugin-googlemaps" spec="2.3.6">
		<variable name="API_KEY_FOR_ANDROID" value="AIzaSyAPs-qs8Ns1sws7unqO_jvYgaOHqSDQJvs" />
		<variable name="API_KEY_FOR_IOS" value="AIzaSyAz9H7wtj_FtEVqlol-PPJ-Ap9aiVKgy7U" />
		<variable name="PLAY_SERVICES_VERSION" value="15.0.1" />
		<variable name="ANDROID_SUPPORT_V4_VERSION" value="27.1.1" />
		<variable name="LOCATION_WHEN_IN_USE_DESCRIPTION" value="Show your location on the map" />
		<variable name="LOCATION_ALWAYS_USAGE_DESCRIPTION" value="Trace your location on the map" />
	</plugin>
	
	<engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="~5.0.4" />
  
</widget>